.headingtop{
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: #4cae4c;
    color: whitesmoke;
    margin-top: -20px;
}
.headingwrite{
    padding-top: 50px;
}
.formwidth{

}
.lablewidth{

    color: white;
}
.buttonwidth{

}
.margintop{
    margin-top: 5px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('blue-search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

